input[type=checkbox] {
	display: none;
}

table.displayTable, tr.displayTable, td.displayTable{
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.displayDiv{
	position: relative;
    z-index: 1;
}

.displayDiv a{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
	text-indent:-100%;
    z-index: 2;
}

#Soup0 + label {background: #800;}
#Soup1 + label {background: #640;}
#Soup2 + label {background: #642;}
#Soup3 + label {background: #046;}
#Soup4 + label {background: #640;}
#Soup5 + label {background: #444;}
#Soup6 + label {background: #000;}
#Soup0 + label {background: #800;}


input[type="checkbox"].choiceBox:checked + label {background-color: #f80; font-weight: bold;}
choiceBox { position: relative;}
input[type="checkbox"].choiceBox:checked#Soup0 + label {background: #f40; font-weight: bold; color: #000;}
input[type="checkbox"].choiceBox:checked#Soup1 + label {background: #f80; font-weight: bold; color: #000;}
input[type="checkbox"].choiceBox:checked#Soup2 + label {background: #fdb; font-weight: bold; color: #000;}
input[type="checkbox"].choiceBox:checked#Soup3 + label {background: #08f; font-weight: bold; color: #000;}
input[type="checkbox"].choiceBox:checked#Soup4 + label {background: #fb0; font-weight: bold; color: #000;}
input[type="checkbox"].choiceBox:checked#Soup5 + label {background: #0df; font-weight: bold; color: #000;}
input[type="checkbox"].choiceBox:checked#Soup6 + label {background: #fff; font-weight: bold; color: #000;}

.choiceLabel:hover {
	background-color: #fb8;
}
.choiceLabel {
	display: inline-block;
	margin:0.5vw;
	width:calc(10vw + 5vh);
	height: calc(3vw + 3vh - var(--isPc)vh);
	text-align: center;
	cursor: pointer;
	background-color: #ddc;
	color: #000;
	border: 0.1vw solid #d40;
	border-radius: 0.2vw;
}

.choiceLabelMini {
	display: inline-block;
	margin:0.5vw;
	width:calc(7.5vw + 6vh);
	height: calc(3vw + 3vh - var(--isPc)vh);
	font-size:90%;
	text-align: center;
	cursor: pointer;
	color: #fff;
	border: 0.1vw solid #d40;
	border-radius: 0.2vw;
}