:root {
	--tableWidth : 30vh;
  }

input[type=checkbox] {
	display: none;
}

table.displayTable, tr.displayTable, td.displayTable{
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

#Soup0 + label {background: #800;}
#Soup1 + label {background: #640;}
#Soup2 + label {background: #642;}
#Soup3 + label {background: #046;}
#Soup4 + label {background: #640;}
#Soup5 + label {background: #444;}
#Soup6 + label {background: #000;}

input[type="checkbox"].choiceBox:checked + label {
	background: #fb4;
	color: #000;
	font-weight: bold;
	border: 0.6vw solid #f40;
	margin:0vw; 
}

input[type="checkbox"].choiceBox:checked#Soup0 + label {background: #f40;}
input[type="checkbox"].choiceBox:checked#Soup1 + label {background: #f80;}
input[type="checkbox"].choiceBox:checked#Soup2 + label {background: #fdb;}
input[type="checkbox"].choiceBox:checked#Soup3 + label {background: #08f;}
input[type="checkbox"].choiceBox:checked#Soup4 + label {background: #fb0;}
input[type="checkbox"].choiceBox:checked#Soup5 + label {background: #0df; }
input[type="checkbox"].choiceBox:checked#Soup6 + label {background: #fff;}


choiceBox {
    position: relative;
}

.choiceLabel:hover {
	background-color: #f80;
}
.choiceLabel {
	display: inline-block;
	margin:0.5vw;
	width:calc(10vw + 5vh);
	height: calc(3vw + 3vh - var(--isPc)vh);
	text-align: center;
	cursor: pointer;
	background-color: #ddc;
	color: #000;
	border: 0.1vw solid #d40;
	border-radius: 0.2vw;
}

.choiceLabelMini {
	display: inline-block;
	margin:0.5vw;
	width:calc(7.5vw + 6vh);
	height: calc(3vw + 3vh - var(--isPc)vh);
	font-size:90%;
	text-align: center;
	cursor: pointer;
	color: #fff;
	border: 0.1vw solid #d40;
	border-radius: 0.2vw;
}